@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");

:root {
  --headings-color: #131318;
  --paragraph-color: rgba(19, 19, 24, 0.7);
  --second-p-color: #5a5a5d;
  --nav-text-color: #424247;
  --btn-color: #ff5400;
  --color-white: #fff;
  --color-gray: #5a5a5d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

main {
  padding: 0 1rem;
}

/* Common Css */

.container {
  max-width: 73.125rem;
  margin: 0 auto;
}
.paragraph-width {
  padding: 1.5rem 0 3rem;
  max-width: 43rem;
  margin: 0 auto;
}
.text-black {
  color: var(--headings-color);
}
.text-gray {
  color: var(--color-gray);
}
.text-paragraph {
  color: var(--paragraph-color);
}
.text-white {
  color: var(--color-white);
}
.primary-btn {
  padding: 0.87rem 2rem;
  background-color: var(--btn-color);
  border: none;
  border-radius: 0.5rem;
  font-family: "Mulish", sans-serif;
  color: var(--color-white);
}
.font-size-0 {
  font-size: 1rem;
}
.font-size-1 {
  font-size: 1.25rem;
}
.font-size-2 {
  font-size: 2.5rem;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-800 {
  font-weight: 800;
}
.line-height-1 {
  line-height: 1.625rem;
}
.flex {
  display: flex;
}

/* Header */

.header {
  justify-content: space-between;
  margin: 3.5rem 0;
}

.logo,
.footer-header {
  align-items: center;
  gap: 1.04rem;
}

.logo h2,
.footer-header h2 {
  display: inline-block;
}

.logo h2 span,
.footer-header h2 span {
  color: var(--btn-color);
}

.nav-links {
  padding: 0.625rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  color: var(--nav-text-color);
  transition: 0.2s;
}

.nav-links li a:hover {
  color: var(--btn-color);
}

/* End of header section */

.hero {
  border-radius: 1rem;
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.black-shadow {
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
}

.hero-content {
  padding: 7rem 0;
  text-align: center;
}

.hero-content h1 {
  color: #fff;
  font-size: 4rem;
}

.hero-content p {
  color: #fff;
}

.hero-content form {
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 1.5rem;
}

.hero-content form select,
input {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  width: 11rem;
  font-family: "Mulish", sans-serif;
  color: rgba(19, 19, 24, 0.5);
  appearance: none;
}

.hero-content form select {
  width: calc(11rem - 2rem);
}

.hero-content form input,
select::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.5);
}

.hero-content form button {
  padding: 1rem 1rem;
  width: 11rem;
}

.select {
  background-color: var(--color-white);
  padding-right: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.select i {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1.3rem;
}
/* End of hero css */
.popular,
.why-us {
  margin: 6.5rem auto;
}

.popular-content {
  gap: 3.31rem;
}

.text p {
  padding: 1.5rem 0;
}

.text ul li {
  padding: 0.6rem 0;
}
/* End of poplular css */

.destination-header,
.why-us-header {
  text-align: center;
}

.destination-collage-1,
.destination-collage-2,
.destination-collage-3 {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.destination-collage-1 {
  grid-template-columns: repeat(2, 1fr);
}

.destination-collage-2 {
  grid-template-columns: 2fr 3fr 1fr;
}

.destination-collage-3 {
  grid-template-columns: 1fr 3fr;
}

.destination-img {
  position: relative;
}

.destination-img h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 1.75rem;
}
/* End of destination css */
.why-us-body {
  gap: 3.5rem;
}

.why-us h3 {
  padding: 2rem 0 1.5rem;
}
.content-1,
.content-2,
.content-3 {
  border-radius: 1rem;
  border: 1px solid rgba(251, 181, 99, 0.2);

  background: rgba(251, 181, 99, 0.05);
  transition: 0.3s;
  padding: 2rem;
}

.content-3 {
  max-width: 36rem;
  margin: 1.5rem auto;
}

.hover-effect:hover {
  border: 1px solid rgba(41, 206, 246, 0.2);

  background: rgba(41, 206, 246, 0.05);
}
/* End of Why us css*/

.newsletter {
  gap: 1.5rem;
}

.main-newsletter {
  padding: 2.5rem 2.5rem 0 2.5rem;
  border-radius: 1rem;
  border: 1px solid var(--btn-color);
}

.main-newsletter p {
  padding: 1.5rem 0;
}

.main-newsletter hr,
.footer-hr {
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 1.5rem;
}

.main-newsletter form input {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
  background: rgba(19, 19, 24, 0.05);
  margin: 1rem 0;
}

.newsletter-btn {
  width: 100%;
  font-size: 1.25rem;
  margin: 2.25rem 0 1.5rem;
}

.newsletter-img {
  position: relative;
}

.newsletter-img img {
  width: 100%;
}

.discount {
  max-width: 20rem;
  border-radius: 1rem;
  background: var(--btn-color);
  position: absolute;
  bottom: 4.4rem;
  right: 0.2rem;
  padding: 1rem 2rem;
  text-align: center;
  transform: rotate(-19.628deg);
}

.discount span {
  font-size: 2rem;
}
/* End of news-letter */

footer {
  background: rgba(19, 19, 24, 0.05);
  margin: 6.25rem 0 0;
  padding: 6.87rem 1rem;
}

.footer-content {
  text-align: center;
}

.footer-header {
  justify-content: center;
}

.social-icons a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--headings-color);
  padding: 0 1rem;
}

.footer-hr {
  max-width: 55rem;
  margin: 3.12rem auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  z-index: 3rem;
  background-color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar li a {
  width: 100%;
}

/* Media Qureys */

@media screen and (max-width: 992px) {
  .hero-content {
    padding: 2rem 1rem;
  }
  .hero-content h1 {
    font-size: 1.375rem;
  }
  .hero-content p {
    font-size: 0.875rem;
  }
  .hero-content form {
    width: 90%;
    flex-direction: column;
  }
  .hero-content form select,
  input {
    width: 100%;
  }
  .select {
    width: 100%;
  }
  .hero-content form button {
    width: 100%;
  }
  .text h2,
  .destination-header h2,
  .why-us-header h2 {
    font-size: 1.25rem;
  }
  .text p,
  .destination-header p,
  .why-us-header p {
    font-size: 0.875rem;
  }
  .popular-content {
    flex-direction: column;
  }
  .popular-content ul {
    padding-left: 1rem;
  }
  .popular-content ul li {
    font-size: 0.875rem;
  }
  .img img {
    width: 100%;
  }
  .destination-collage-1,
  .destination-collage-2,
  .destination-collage-3 {
    grid-template-columns: 1fr;
  }

  .destination-img img {
    width: 20rem !important;
    height: 11rem;
  }
  .destination-img h3 {
    font-size: 1.25rem;
  }

  .why-us-body {
    flex-direction: column;
  }

  .newsletter {
    flex-direction: column;
  }

  .discount {
    bottom: 3.2rem;
  }

  .footer-hr {
    max-width: 20rem;
  }
  .header ul {
    display: none;
  }
}
